.app-container {
  width: 50%;
  min-height: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

a:not(:last-child) {
  margin-right: 12px;
}

