*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  background-color: rgba(128, 128, 128, .2);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
