h2 {
  margin: 16px 0;
}

.new-member {
  display: flex;
  align-items: center;
}

.new-member button {
  margin-left: 16px;
}

mat-list-item {
  width: fit-content;
}

mat-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.badge {
  display: inline-block;
  color: white;
  padding: 16px 22px;
  background-color: #405061;
  line-height: 1em;
  min-width: 16px;
  font-size: 14px;
  text-align: right;
  border-radius: 5px 0 0 5px;
}

.name {
  display: inline-block;
  padding: 16px 12px;
  background-color: white;
  font-size: 14px;
  line-height: 1em;
  width: 250px;
  margin: 0;
  transition: all .2s ease-in-out;
}

.name:hover {
  background-color: rgba(138, 43, 226, .6);
  cursor: pointer;
}

.delete {
  height: 100%;
  padding: 16px 12px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  line-height: 1em;
  border: none;
}
