<h2>My Team</h2>

<div class="new-member">
  <mat-form-field>
    <mat-label>New member</mat-label>
    <input #heroName matInput>
  </mat-form-field>
  <button mat-raised-button color="primary"  (click)="add(heroName.value); heroName.value=''">Add</button>
</div>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let hero of heroes">
    <span class="badge">
      {{ hero.id }}
    </span>
    <span class="name" routerLink="/detail/{{hero.id}}">
      {{ hero.name }}
    </span>

    <button mat-flat-button color="warn" class="delete" (click)="delete(hero)">X</button>
  </mat-list-item>
</mat-list>
