mat-form-field {
  margin-top: 40px;
}

mat-list {
  width: 50%;
  padding: 12px 0;
}

mat-list-item {
  background-color: white;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

mat-list-item:not(:last-child) {
  margin-bottom: 8px;
}

mat-list-item:hover {
  background-color: rgba(138, 43, 226, .6);
  cursor: pointer;
}

